  	{
      "name": "net.atos~poll~0.1-SNAPSHOT",
      "config": {
        "main" : "net.atos.entng.poll.Poll",
        "port" : 8031,
        "app-name" : "Poll",
        "app-address" : "/poll",
        "app-icon" : "poll-large",
        "host": "${host}",
        "ssl" : $ssl,
        "userbook-host": "${host}",
        "integration-mode" : "HTTP",
        "app-registry.port" : 8012,
        "mode" : "${mode}",
        "entcore.port" : 8009
      }
    }
