.DS_Store
.gradle
.idea
.classpath
.project
.settings
.yardoc
.yardopts
bin
build
*/build
target
out
*.iml
*.ipr
*.iws
*.css
bower_components/
assets/themes/*/lib
assets/themes/entcore-css-lib
assets/themes/theme-open-ent
assets/themes/*/img
assets/themes/*/default
assets/themes/*/template
assets/themes/*/font
assets/themes/*/js
assets/themes/*/dyslexic
assets/themes/*/css
assets/themes/*/portal.html
assets/themes/*/bower.json
assets/themes/*/LICENSE
assets/themes/*/README.md
assets/widgets
test-output
test-results
test-tmp
*.class
mods
*/mods
data
developer.id
*.mod.json
ent-core.embedded.json
ent-core.json
ent-core.json.template
run.bat
run.sh
sample-be1d/
scripts/
src/
stop.bat
stop.sh
