<h1 class="centered-text">Parent avec LEO vous pourrez...</h1>

<h4>
    Suivre et accompagner la scolarité de votre enfant grâce aux services...
</h4>

<hr>

<div class="flex-row flex-start justify-center centered-text apps">
    <div class="container">
        <i class="absences"></i>
        <legend>Absences</legend>
    </div>
    <div class="container">
        <i class="notes"></i>
        <legend>Notes</legend>
    </div>
    <div class="container">
        <i class="maxicours-large"></i>
        <legend>Aide aux devoirs</legend>
    </div>
    <div class="container">
        <i class="cahier-textes-large"></i>
        <legend>Cahier de textes</legend>
    </div>
</div>
