assistant{
    lightbox .content{

        .logo-quickstart{
            width: 130px;
            height: 75px;
            background-image: url(../img/logo.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            margin-top: -40px;
            margin-left: -20px;
        }

        i.carte-cursus{
            display: block;
            width: 100px;
            height: 65px;
            background-image: url(../img/gen-hdf.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            margin: auto;
        }
        .multi-apps{

            i.collaborative-wall-large{
                bottom: 0;
                right: 0;
                transform: scale(0.8);
            }
            i.rack-large{
                top: -10px;
                left: 3px;
                transform: scale(0.5);
            }
            i.timelinegenerator-large{
                top: -14px;
                right: 3px;
                transform: scale(0.6);
            }
            i.wiki-large{
                left: -15px;
                bottom: 13px;
                transform: scale(0.4);
            }
            i.exercizer-large{
                left: 8px;
                bottom: -6px;
                transform: scale(0.7);
            }
            i.dotsx3-h{
                left: 37px;
                bottom: 33px;
            }
        }
    }
}
