<h1 class="centered-text">Enseignant avec LEO vous pourrez...</h1>

<h4>
    Trouver un appui à la préparation de vos
    cours grâce aux services et aux ressources ...
</h4>

<hr>

<div class="flex-row flex-start justify-center centered-text apps">
    <div class="container">
        <i class="cahier-textes-large"></i>
        <legend>Cahier de texte</legend>
    </div>

    <div class="container">
        <i class="exercizer-large"></i>
        <legend>Exercices et évaluations</legend>
    </div>

    <div class="container">
        <i class="maxicours-large"></i>
        <legend>Aide aux devoirs</legend>
    </div>

    <div class="container">
        <i class="edumedia-large"></i>
        <legend>EduMedia</legend>
    </div>

</div>
