<h1 class="centered-text">Enseignant avec LEO vous pourrez...</h1>

<h4>
Simplifier vos tâches quotidiennes grâce aux applis...
</h4>

<hr>

<div class="flex-row flex-start justify-center centered-text apps">
    <div class="container">
        <i class="conversation-large"></i>
        <legend>Messagerie</legend>
    </div>
    <div class="container">
        <i class="calendar-large"></i>
        <legend>Agenda</legend>
    </div>
    <div class="container">
        <i class="rbs-large"></i>
        <legend>Réservation de ressources</legend>
    </div>
    <div class="container">
        <i class="exercizer-large"></i>
        <legend>Exercices et évaluations</legend>
    </div>

</div>
