
<div class="centered container row">

	<div class="main wrapper">
		<section class="main">
			<div id="directory"></div>
			<div ng-transclude  class="twelve cell"></div>
			<div class="clear"></div>
		</section>
	</div>


</div>
<header class="main">
	<section class="navbar row" data-ng-controller="Account">


		<a href="/timeline/timeline"><div class="logo"></div></a>
		<nav class="horizontal">
			<a href="/userbook/mon-compte">
				+ [[me.username]]
			</a>
			<a href="/timeline/timeline" ng-class="{ selected: currentURL.indexOf('/timeline') !== -1 }">
				<i class="timeline-hlink"></i>
			</a>
			<a href="/welcome" ng-class="{ selected: currentURL.indexOf('/welcome') !== -1 }">
				<i class="apps-hlink"></i>
			</a>
			<a href="/userbook/annuaire?myClass" ng-class="{ selected: currentURL.indexOf('myClass') !== -1 }">
				<i class="network-hlink"></i>
			</a>
			<a href="/conversation/conversation">
				<i class="conversation-hlink" ng-if="nbNewMessages > 0 && me.hasWorkflow('org.entcore.conversation.controllers.ConversationController|view')">[[nbNewMessages]]</i>
				<i class="conversation-empty-hlink" ng-if="nbNewMessages == 0 && me.hasWorkflow('org.entcore.conversation.controllers.ConversationController|view')"></i>
			</a>
			<a logout><i class="shutdown-hlink"></i></a>
		</nav>
		<div class="cell user-buttons">
			<span class="welcome-message">
				<a href="/userbook/mon-compte"><img ng-src="[[avatar]]?thumbnail=100x100" id="my-photo" /></a>
			</span>
		</div>
	</section>

</header>