@media screen and (max-width: 550px){
	nav.horizontal{
		right: 0;
		> a{
			font-size: 14px;
			margin-left: 0;
		}
		i.disconnect{
			width: 22px !important;
			margin-right: 0;
			margin-left: 0;
		}
	}
	.login{
		h1{
			display: none;
		}
	}
}