    {
      "name": "net.atos~community~0.1-SNAPSHOT",
      "config": {
        "main" : "net.atos.entng.community.Community",
        "port" : 8078,
        "app-name" : "Community",
        "app-address" : "/community",
        "app-icon" : "community-large",
        "host": "${host}",
        "ssl" : $ssl,
        "auto-redeploy": false,
        "userbook-host": "${host}",
        "mode" : "${mode}"
      }
    }
