<div class="auth">
	<div class="centered container row">
		<div class="logo">

		</div>
		<section class="main">
			<div class="welcome-text">
				<h1 translate content="auth.welcome.title"></h1>
				<i18n>auth.welcome.content</i18n>
			</div>

			<div class="panel">
				<h1><img src="/auth/public/img/auth.png" /><span translate content="auth.message.header"></span></h1>
				<form>
					<p class="success" translate content="[[message]]"></p>
					<a href="/auth/login" class="right cell" translate content="auth.cancel"></a>
				</form>
			</div>
		</section>
	</div>
</div>
