<h1 class="centered-text">Personnel avec LEO vous pourrez...</h1>

<h4>
    Assurer la communication de l'établissement grâce aux services...
</h4>

<hr>

<div class="flex-row flex-start justify-center centered-text apps">
    <div class="container">
        <i class="actualites-large"></i>
        <legend>Actualités</legend>
    </div>
    <div class="container">
        <i class="calendar-large"></i>
        <legend>Agenda</legend>
    </div>
    <div class="container">
        <i class="workspace-large"></i>
        <legend>Documents</legend>
    </div>
    <div class="container">
        <i class="pages-large"></i>
        <legend>Pages</legend>
    </div>

</div>
