<h1 class="centered-text">Personnel avec LEO vous pourrez...</h1>

<h4>
    Gérer la vie de l'établissement grâce aux services...
</h4>

<hr>

<div class="flex-row flex-start justify-center centered-text apps">
    <div class="container">
        <i class="absences"></i>
        <legend>Absences</legend>
    </div>
    <div class="container">
        <i class="notes"></i>
        <legend>Notes</legend>
    </div>
    <div class="container">
        <i class="cahier-textes-large"></i>
        <legend>Cahier de textes</legend>
    </div>
    <div class="container">
        <i class="rbs-large"></i>
        <legend>Réservation de ressources</legend>
    </div>

</div>
